.Footer {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5rem 0 0.5rem 1.5rem;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;  
}

.Line {
    height: 1px;
    background: #D4D4D4;
    width: 100%;
    margin-left: 1rem;
}